:root {
    --color-light: #F4F4FD;
    --color-dark: #2e2f42;
    --color-primary: #4d5ae5;
    --color-accent: #404bbf;
}

body {
    font-family: "Roboto", "Raleway", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* #region Header */
.header-page {
    background-color: #f4f4fd;
}

.nav-page {}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-dark);
}

.logo-style {
    color: var(--color-primary);
}

.studio {
    color: var(--color-primary);
}

.nav-list {}

.nav-item {}

.nav-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-dark);
}

.nav-item-link:hover,
.nav-item-link:focus {
    color: var(--color-accent);
}

/* #endregion */

/* #region Hero */
.hero {
    background-color: var(--color-dark);
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-btn {
    padding: 15px 30px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    background-color: var(--color-primary);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--color-accent);
}

/* #Our Team section */
.our-team {
    background-color: var(--color-light);
}

.section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    text-transform: uppercase;
}

.features-list, .team-list, .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.feature-item, .team-member, .portfolio-item {
    width: 300px;
}

.feature-item h3, .team-member h3, .portfolio-item h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--color-dark);
}

.feature-item p, .team-member p, .portfolio-item p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */
.footer {
    background-color: var(--color-dark);
    text-align: center;
    padding: 30px;
}

.footer-logo {
    color: var(--color-primary);
}

.footer-description {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
